@import url(breakpoints.css);

.root {
  display: block;

  @media (--sm) {
    padding: 0 var(--space-sm) var(--space-sm) var(--space-sm);
  }
}

.grid {
  display: flex;
  width: 100%;
  max-height: calc(100vh - 60px - 80px - var(--space-md));
  flex-flow: column nowrap;
  align-content: center;
  padding: var(--space-md);
  background-color: var(--color-dark);
  overflow: auto;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.cell {
  background-color: transparent;
  color: black;
  margin: 0px 0px;
  width: 100vw;
  height: 100vh;
  max-height: var(--height);
  max-width: var(--width);
  flex-basis: var(--width);
  flex-grow: 0;
  flex-shrink: 10;
}

@media (--lt-lg) {
  .grid {
    flex-flow: row nowrap;
    justify-content: center;
  }

  .row {
    flex-flow: column nowrap;
    width: auto;
    flex-shrink: 1;
  }
  
  .cell {
    max-height: var(--mobile-height);
    max-width: var(--mobile-width);
    flex-basis: var(--mobile-width);
  }
}
