{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "@utils": "./components/@utils",
          "@components": "./components",
          "@content": "./content",
          "@pages": "./pages",
          "@hooks": "./hooks",
          "@public": "./public",
          "@styles": "./styles"
        }
      }
    ]
  ]
}
