@import url(breakpoints.css);

.root {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .wrapper {
    --padding: calc(var(--space-md) * 2) var(--space-md);

    text-align: center;

    @media (--sm) {
      --padding: var(--space-md);
    }
  }
}

