@keyframes blink {
  to { visibility: hidden; }
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.root {
  padding-right: var(--space-tab);
}

.caption {
  margin-left: var(--space-tab);
  color: var(--color-passive);
}

.groupLabel {
  margin-left: var(--space-tab);
  margin-right: var(--space-tab);
  margin-top: 1ex;
}

.groupLabel > * {
  font-size: 0.7em;
  text-transform: uppercase;
  color: var(--color-mid);
}

.option {
  position: relative;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.link::before {
  content: '>';
  color: var(--color-light);
  display: inline-block;
  margin-right: 1ch;
  animation: blink 1.5s steps(3, start) infinite;
  opacity: 0;
}

.link:hover,
.link:focus {
  color: var(--color-yellow);
  outline: none;

  &::before {
    color: var(--color-yellow);
    opacity: 1;
  }

  .text {
    text-decoration: underline;
  }
}

.text {
  flex-grow: 1;
  text-transform: lowercase;
}

.label {
  margin-left: 1ch;
  color: var(--color-mid);
  text-transform: uppercase;
}

.isActive {
  .link::before {
    opacity: 1;
  }

  .label {
    color: var(--color-mid);
  }
}

.isActive.isLoading {
  .link::before {
    content: '*';
    opacity: 1;
    animation: rotate 1s linear infinite;
  }
}
