@import url(breakpoints.css);

.root {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--color-darker);
  width: 100%;

  & > *:last-child {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
  }

  @media (--xxl) {
    margin: 0 var(--space-sm) var(--space-sm);
  }
}
