@import url(breakpoints.css);

@keyframes animated-background {
  from { background-position: 100% 100%; }
  to { background-position: 0% 0%; }
}

.root {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border-top: 2px solid var(--color-yellow);

  & > *:last-child {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
  }

  @media (--xxl) {
    margin: 0 var(--space-sm) var(--space-sm);
  }
}
