.root { }
.lead { }

.symbol {
  &::before {
    display: block;
    font-family: 'Lucida Grande';
    font-size: 2.4em;
    line-height: 0.6em;
    margin-left: -2px;
  }
}

.passive .symbol::before {
  content: '■';
  margin-bottom: 3px;
}

.action .symbol::before {
  content: '●';
  color: var(--color-action);
  margin-bottom: 2px;
}

.caption {
  text-transform: uppercase;
}

.content {
  font-weight: var(--weight-bold);
}
