@import url(breakpoints.css);

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.root {
  --border: var(--color-yellow);

  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s ease;
  transition-property: transform, opacity;
  width: 100%;
  margin-bottom: calc(var(--space-md) * 2 + var(--font-height-base));

  @media (--lt-sm) {
    margin-bottom: calc(var(--space-md) * 4 + var(--font-height-base));
  }

  & + & {
    margin-top: var(--space-lg);

    @media (--lt-sm) {
      padding-top: var(--space-xl);
      margin-top: var(--space-xl);
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: var(--space-md);
        right: var(--space-md);
        height: 2px;
        background-color: var(--border);
      }
    }
  }
}

.container {
  @media (--sm) {
    --border: 2px;

    position: relative;
    padding: calc(var(--space-md) + var(--border) * 2);
    margin: var(--border);
    width: calc(100% - var(--border) * 2);
    border: 2px solid var(--color-yellow);
    border-radius: 8px;
  }
}
