@import url(breakpoints.css);

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.root {
  --border: var(--color-yellow);

  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s ease;
  transition-property: transform, opacity;
  width: 100%;
  margin-bottom: calc(var(--space-md) * 2 + var(--font-height-base));

  @media (--lt-sm) {
    margin-bottom: calc(var(--space-md) * 4 + var(--font-height-base));
  }

  & + & {
    margin-top: var(--space-lg);

    @media (--lt-sm) {
      padding-top: var(--space-xl);
      margin-top: var(--space-xl);
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: var(--space-md);
        right: var(--space-md);
        height: 2px;
        background-color: var(--border);
      }
    }
  }
}

.container {
  @media (--sm) {
    --border: 2px;

    position: relative;
    padding: calc(var(--space-md) + var(--border) * 2);
    margin: var(--border);
    width: calc(100% - var(--border) * 2);
    border-radius: 5px;
    overflow: hidden;

    &::before,
    &::after {
      content: '';
      position: absolute;
    }

    &::after {
      background-color: var(--color-background);
      top: var(--border);
      left: var(--border);
      right: var(--border);
      bottom: var(--border);
      z-index: -1;
      border-radius: 3px;
    }

    &::before {
      top: 50%;
      left: 50%;
      width: max(200vh, 200vw);
      height: max(200vh, 200vw);
      margin-top: calc(-0.5 * max(200vh, 200vw));
      margin-left: calc(-0.5 * max(200vh, 200vw));
      z-index: -2;
      animation: rotate 8s linear infinite;
      background-color: var(--color-yellow-alt);
      background-repeat: no-repeat;
      background-image:
        conic-gradient(
          from 0deg,
          var(--color-yellow),
          var(--color-yellow),
          var(--color-yellow-alt)
        );
    }
  }
}
