@import url(breakpoints.css);

@keyframes animated-background {
  from { background-position: 100% 100%; }
  to { background-position: 0% 0%; }
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: auto;
  width: 100%;

  @media (--lt-sm) {
    &::before {
      content: '';
      position: sticky;
      top: 0;
      display: block;
      width: 100%;
      height: 4px;
      animation: animated-background 2s linear infinite;
      background-size: 200% 200%;
      background-color: var(--color-yellow-alt);
      background-repeat: no-repeat;
      background-image:
        linear-gradient(
          to left,
          var(--color-yellow),
          var(--color-yellow-alt) 50%,
          var(--color-yellow) 50%,
          var(--color-yellow-alt)
        );
    }
  }
}

.main {
  flex-grow: 1;
  display: flex;
  margin: auto;
  padding-bottom: 100px;
  width: 100%;
  justify-content: center;
}
