@import url(breakpoints.css);

.root {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  border-top: 2px solid var(--color-dark);
  padding: var(--space-md);

  @media (--sm) {
    padding: var(--space-sm);
    align-items: center;
    flex-flow: row nowrap;
  }
}

.data {
  display: flex;
  flex-flow: column wrap;

  @media (--sm) {
    flex-flow: row wrap;
  }
}

.stat {
  @media (--sm) {
    margin-right: 1ch;

    &:not(:last-child)::after {
      content: ' / ';
      opacity: 0.2;
    }
  }
}

.label {
  font-weight: var(--weight-bold);
}

.value {
  flex-grow: 1;
}

.actions {
  border: 2px solid var(--color-mid);
  border-radius: 3px;
  padding: 0 0.5em;
  margin-top: var(--space-sm);

  & > * + * {
    margin-left: 1ch;
  }

  @media (--sm) {
    margin-left: auto;
    margin-top: 0;
  }
}

.button {
  appearance: none;
  background-color: transparent;
  border: none;
  color: var(--color-light);
  padding: 0.2em 0.25em 0.28em;
  font-family: inherit;
  font-size: 1em;
  font-weight: var(--weight-bold);
  cursor: pointer;

  &:focus,
  &:hover {
    outline: none;
    color: var(--color-yellow);
    text-decoration: underline;
  }
}
