@import url(breakpoints.css);

.root {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid var(--color-dark);
  padding: var(--space-md);

  @media (--sm) {
    padding: var(--space-sm);
    align-items: center;
    flex-flow: row nowrap;
  }
}

.data {
  display: flex;
  flex-flow: column wrap;

  @media (--sm) {
    flex-flow: row wrap;
  }
}

.stat {
  @media (--sm) {
    margin-right: 1ch;

    &:not(:last-child)::after {
      content: ' / ';
      opacity: 0.2;
    }
  }
}

.label {
  font-weight: var(--weight-bold);
}

.value {
  flex-grow: 1;
}

.actions {
  border: 1px solid var(--color-mid-dark);
  border-radius: 3px;
  margin-top: var(--space-sm);
  padding: 0 0.1em;
  display: flex;

  & > * + *  {
    border-left: 1px solid var(--color-mid-dark) !important;
  }

  @media (--sm) {
    margin-left: auto;
    margin-top: 0;
  }
}

.speed {
  display: flex;
  align-items: center;
  padding: 0 1ch;

  input {
    margin: 0 0 0 1ch;
  }
}

.button {
  appearance: none;
  background-color: transparent;
  border: none;
  color: var(--color-light);
  padding: 0.2em 0.6em 0.28em;
  font-family: inherit;
  font-size: 1em;
  font-weight: var(--weight-bold);
  cursor: pointer;

  &:focus,
  &:hover {
    outline: none;
    color: var(--color-yellow);
    text-decoration: underline;
  }
}
