@import url(breakpoints.css);

.root {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid var(--color-dark);
  padding: var(--space-md);

  @media (--sm) {
    padding: var(--space-sm);
    align-items: center;
    flex-flow: row nowrap;
  }
}

.data {
  display: flex;
  flex-flow: column wrap;

  @media (--sm) {
    flex-flow: row wrap;
  }
}

.stat {
  @media (--sm) {
    margin-right: 1ch;

    &:not(:last-child)::after {
      content: ' / ';
      opacity: 0.2;
    }
  }
}

.label {
  font-weight: var(--weight-bold);
}

.value {
  flex-grow: 1;
}

.actions {
  border: 1px solid var(--color-mid-dark);
  border-radius: 4px;
  margin-top: var(--space-sm);
  padding-right: 0.1em;
  display: flex;
  flex-flow: row wrap;

  @media (--sm) {
    margin-left: auto;
    margin-top: 0;
    flex-flow: row;
  }
}

.speed {
  display: flex;
  align-items: center;
  padding: 0 1ch;
  flex-grow: 1;
}

.speedWrap {
  position: relative;
  margin-top: max(-1vw, -5px);
}

.speedLabel {
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
  position: absolute;
  top: calc(100% + 4px);
  left: calc(var(--progress) * 92% + 4%);
  padding: 0 1ch 1px;
  background-color: var(--color-darker);
  border: 1px solid var(--color-mid-dark);
  border-radius: 3px;
  transform: translate3d(-50%, 8px, 0);
  opacity: 0.8;
  transition: 0.3s ease;
  transition-property: opacity, transform;

  .speedInput:focus + & {
    border: 1px solid var(--color-yellow);
    opacity: 1;
    transform: translateX(-50%);
  }

  @media (--sm) {
    left: calc(var(--progress) * 95% + 2.5%);
  }
}

.speedInput {
  --track: var(--color-light);
  --handle: var(--color-light);
  --handle-border: var(--color-dark);

  width: 100%;
  margin: 0;
  background-color: transparent;
  border: none;
  appearance: none;
  min-width: min(270px, 50vw);

  &:focus {
    --handle: var(--color-yellow);
    --handle-border: var(--color-darker);

    outline: none;
  }

  &::-webkit-slider-runnable-track {
    background: var(--track);
    border: 0;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    cursor: pointer;
  }

  &::-webkit-slider-thumb {
    margin-top: -6px;
    width: 16px;
    height: 16px;
    background: var(--handle);
    border: 2px solid var(--handle-border);
    border-radius: 16px;
    cursor: pointer;
    appearance: none;
  }

  &:focus::-webkit-slider-runnable-track {
    background: var(--track);
  }

  &::-moz-range-track {
    background: var(--track);
    border: 0;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: var(--handle);
    border-radius: 16px;
    cursor: pointer;
  }

  &::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 7.5px 0;
    color: transparent;
    width: 100%;
    height: 4px;
    cursor: pointer;
  }

  &::-ms-fill-lower,
  &::-ms-fill-upper {
    background: var(--track);
    border: 0;
  }

  &::-ms-thumb {
    width: 16px;
    height: 16px;
    background: var(--handle);
    border-radius: 16px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
  }

  &:focus::-ms-fill-lower,
  &:focus::-ms-fill-upper {
    background: var(--track);
  }
}

.button {
  appearance: none;
  background-color: transparent;
  border: none;
  color: var(--color-light);
  padding: 0;
  font-family: inherit;
  font-size: 1em;
  font-weight: var(--weight-bold);
  cursor: pointer;

  svg {
    display: block;
    width: 2em;
    height: 2em;
  }

  &:focus,
  &:hover {
    outline: none;
    color: var(--color-yellow);
    text-decoration: underline;
  }
}
